<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monster Slayer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="monsterHealthBarStyle"></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="playerHealthBarStyle"></div>
        </div>
      </section>
      <section class="container" v-if="gameEnd">
        <h2>GAME OVER!</h2>
        <h3 v-if="winner === 'Player'">You Won!</h3>
        <h3 v-else>You Lost!</h3>
      </section>
      <section id="controls" v-if="!isSurrender && !gameEnd">
        <button @click="attackMonster">ATTACK</button>
        <button
          :disabled="specialAttackChecker()"
          @click="specialAttackMonster"
        >
          SPECIAL ATTACK
        </button>
        <button @click="heal" :disabled="healAvailable()">HEAL</button>
        <button @click="surrender">SURRENDER</button>
      </section>
      <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul>
          <li v-for="attack in attacks">
            <span :class="`log--${attack.attacker.toLowerCase()}`"
              >{{ attack.attacker }}({{ attack.attackerHealth }})</span
            >
            attacks({{ attack.attackType }}) and deals
            <span class="log--damage">{{ attack.attackValue }}</span>
          </li>
          <li v-if="isSurrender">
            <span class="log--player">Player </span>Surrendered!
          </li>
          <li v-if="gameEnd">
            <span :class="`log--${winner.toLowerCase()}`">{{ winner }}</span>,
            won the battle against
            <span :class="`log--${loser.toLowerCase()}`">{{ loser }}!</span>
          </li>
        </ul>
      </section>
      <section class="container" v-if="gameEnd">
        <button @click="resetGame">PLAY AGAIN!</button>
      </section>
    </div>
  </body>
</html>
